.wrapper {
  padding: 5px 5px 5px 10px;

  width: 100%;

  z-index: 2;

  background: white;

  .tabs {
    height: 100%;

    .panel {
      height: 100%;
    }
  }
}

.collapse {
  width: 100%;
  height: 3px;

  z-index: 2;
  background: rgb(17 20 24 / 10%);
  cursor: row-resize;

  &:hover {
    background: #4C90F0;
  }
}

.active {
  background: #4C90F0;
}
