@use "../../../../../../node_modules/@blueprintjs/core/lib/scss/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 120px;

  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;

  z-index: 2;

  background: $white;
  box-shadow: 1px 1px 5px $black;

  .container {
    display: flex;
    gap: 10px;

    width: 100%;

    .label {
      flex-basis: 40%;
    }

    .value {
      flex-basis: 60%;
    }
  }
}
