@use "../../../../../../node_modules/@blueprintjs/core/lib/scss/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 120px;

  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;

  z-index: 2;

  background: $white;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0, rgba(27, 31, 35, 0.15) 0 0 0 1px;
  border-radius: 1px;

  .container {
    display: flex;
    gap: 10px;

    width: 100%;

    .label {
      flex-basis: 40%;
    }

    .value {
      flex-basis: 60%;
    }
  }
}
