.wrapper {
  padding: 5px 5px 5px 10px;

  height: 320px;
  width: 100%;

  position: relative;
  z-index: 1;

  background: white;
  box-shadow: 1px 0 0 1px rgb(17 20 24 / 10%);
  transition: height 1s ease-in-out;
  overflow-y: auto;

  .hidden {
    height: 0;
  }
}

.collapsed {
  height: 40px;
}
