@use "/src/shared/styles/constants" as *;

.wrapper {
  display: flex;

  height: 100%;
  overflow: auto;

  border: 1px solid $border-color;

  .main {
    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: center;
    margin: auto;
  }
}
