.wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;

  transition: right ease-in-out .5s;

  z-index: 2;

  .button {
    box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 25%);
    background-color: white;
    border: 0;
  }
}

.active {
  right: 205px;
}

