.wrapper {
  flex-basis: 50%;
  width: 100%;

  padding: 5px 5px 0 5px;

  overflow-y: hidden;
  overflow-x: auto;

  .panel {
    width: 100%;
    height: 100%;
  }
}

.full-size {
  flex-basis: 100%
}
