@use "../../../shared/styles/sizes" as *;

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-basis: $header-height;

  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;

  .container {
    gap: 5px;
  }

  .user {
    padding-top: 10px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}
