@use "@blueprintjs/core/lib/scss/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: 5px;
  right: 5px;

  width: 310px;
  z-index: 2;
}

.view {
  right: 60px;

  .input {
    margin-bottom: 0;
  }
}

.edit {
  padding: 10px;
  background: $white;
  box-shadow: 2px 2px 10px $black;
}
