@use "../../../../node_modules/@blueprintjs/core/lib/scss/variables" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  top: 5px;
  right: 5px;

  width: 310px;
  padding: 10px;
  z-index: 2;

  background: $white;
  box-shadow: 2px 2px 10px $black;
}

.view {
  right: 60px;
  max-height: 300px;
  min-height: 0;

  overflow-y: auto;

  .input {
    margin-bottom: 0;
  }
}
