@use "../../../../../../node_modules/@blueprintjs/core/lib/scss/variables" as *;

.wrapper {
  width: 120px;

  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px;

  z-index: 5;

  background: white;
  box-shadow: inset 0 0 0 1px rgb(17 20 24 / 20%), 0 1px 2px rgb(17 20 24 / 10%);
  border-radius: 1px;

  .container {
    width: 100%;

    .label {
      flex-basis: 40%;
    }

    .value {
      flex-basis: 60%;
    }
  }
}
