.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  position: absolute;
  bottom: 5px;
  right: 5px;

  transition: right ease-in-out .5s;

  z-index: 2;
}

.active {
  right: 205px;
}

